# 决策树
## 导入数据
重定义$\ln$函数，否则它无法计算
$$
\lim_{x\rightarrow 0} x\ln x=0
$$

In [223]:
import pandas as pd
import numpy as np

def Log2(x):
    if not isinstance(x,np.ndarray):
        if x==0:
            return 0.0
        return np.log2(x)
    return np.array(list(map(Log2,x)))
dt=pd.DataFrame(data={
    '用户ID':list(range(1,1+8)),
    '年龄':[27,47,32,24,45,56,31,23],
    '性别':[True,False,True,True,True,True,True,False],
    '收入':[150000,300000,120000,450000,300000,320000,150000,300000],
    '婚姻状况':[False,True,False,False,True,True,False,True],
    '是否买房':[False,True,False,True,False,True,False,False]
})
dt

   用户ID  年龄     性别      收入   婚姻状况   是否买房
0     1  27   True  150000  False  False
1     2  47  False  300000   True   True
2     3  32   True  120000  False  False
3     4  24   True  450000  False   True
4     5  45   True  300000   True  False
5     6  56   True  320000   True   True
6     7  31   True  150000  False  False
7     8  23  False  300000   True  False

## 计算$H(T)$和$H(T,a)$

In [224]:
pplus=len(dt.loc[dt['是否买房']==True])/len(dt)
pminus=len(dt.loc[dt['是否买房']==False])/len(dt)
HT=-pplus*Log2(pplus)-pminus*Log2(pminus)

I=np.ones(4)*HT

sorttype=['年龄','收入','性别','婚姻状况']
sortcondition=[[30,40],[200000,400000],[1],[1]]

for j in range(len(sortcondition)):
    tp=dt[[sorttype[j],'是否买房']].to_numpy()
    tp=tp[tp[:,0].argsort()]
    cal=np.split(tp,tp[:,0].searchsorted(sortcondition[j]))

    for i in range(len(cal)):
        ppplus=sum(cal[i][:,1])/len(cal[i])
        ppminus=1-ppplus
        I[j]+=-(-ppplus*Log2(ppplus)-ppminus*Log2(ppminus))*len(cal[i])/len(tp)

In [236]:
rlt=np.concatenate(([I],[sorttype])).transpose()
print(rlt[rlt[:,0].argsort()][::-1])

[['0.45443400292496505' '收入']
 ['0.26571212738409783' '年龄']
 ['0.04879494069539869' '婚姻状况']
 ['0.015712127384097885' '性别']]